.DS_Store
**/.DS_Store
*.mcap
*.mp4
**/*.mcap
**/*.mp4
*.png
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
**/build
.vscode

**/.claude/settings.local.json

# Python build artifacts
.direnv/
dist/
*.egg-info/
tools/ts/msgs/generated
